body {
  height: 100vh;
  text-align: center;
  margin: 0;
  background-color: lime;
}

h1 {
  background-color: yellow;
  /* height: 100%; */
}

/* h1 {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
} */